{% extends 'base/base.html' %}

{% block page_main %}
<h1 class="page-header">代码上传系统
    <small>代码管理</small>
</h1>
<!--面板 开始-->
<div class="panel panel-success">
    <div class="panel-heading">代码上传</div>
    <div class="panel-body">


        <form action="" method="post" enctype="multipart/form-data">
            <div class="">
                <input type="file" name="code"><input type="submit" class=" btn btn-success" value="提交">
            </div>
        </form>
    </div>
</div>
{% endblock %}




















